@font-face {
    font-family: font-awesome;
    src: ur()
}


table {
    border: 2px solid black;
    width: 500px;
}

td {
    padding: 10px;
    text-align: center;
}

.edit, .delete, .add {
    cursor: pointer;
}

.add {
    margin-left: 25%;
    width: 50px;
    height: 50px;
}

.hidden {
    display: none;
}

input {
    width: 500px;
    border-radius: 25px;
}

button {
    padding: 0.5%;
    margin-top: 0.9%;
}

.modal {
    position: absolute;
    top: -250px;
    left: 50%;
    width: 500px;
    border: 0.5px solid black;
    padding: 20px;
    transition: top 2s ease;
    background-color: #DDDDDD;
}

.modal.active {
    top: 20px;
}